:root {
    --desert: #DCCFC5;
  
    --olive900: #211d0f;
    --olive700: #3c3416;
    --olive500: #766621;
    --olive300: #998a56;
    --olive100: #bbaf8c;
    --olive50: #ece8dd;
    --olivegrey: #807c73;

    --maroon900: #311004;
    --maroon700: #451106;
    --maroon500: #5a1107;
    --maroon300: #864b3e;
    --maroon100: #b08479;
    --maroon50: #d9c0ba;
   
    --sienna900: #4d2a15;
    --sienna700: #733c1b;
    --sienna500: #9c4f20;
    --sienna300: #b97954;
    --sienna100: #d3a48a;
    --sienna50: #ebd1c3;
   
    --salmon900: #674f37;
    --salmon700: #9f7851;
    --salmon500: #daa46d;
    --salmon300: #e5ba90;
    --salmon100: #efd1b4;
    --salmon50: #f8e8d9;
   
   --moccasin900: #3b352d;
   --moccasin700: #b6a385;
   --moccasin500: #fbe1b6;
   --moccasin300: #fde8c8;
   --moccasin100: #fef0da;
   --moccasin50: #fff7ed;
   
   --slate900: #3a434d;
   --slate700: #566475;
   --slate500: #7388a0;
   --slate300: #95a4b7;
   --slate100: #b8c2cf;
   --slate50: #dbe0e7;
  
    --lilac900: #5f4e5f;
    --lilac700: #927792;
    --lilac500: #c8a2c8;
    --lilac300: #d6b9d6;
    --lilac100: #e4d0e3;
    --lilac50: #f1e7f1;
  
    --beige900: #593c38;
    --beige700: #875853;
    --beige500: #b8776f;
    --beige300: #cb9891;
    --beige100: #debab4;
    --beige50:  #efdcd9;
  
    --tan900: #372d21;
    --tan700: #a88458;
    --tan500: #e7b476;
    --tan300: #efc698;
    --tan100: #f6d9b9;
    --tan50:  #fbecdc;
  
    --green900: #423a2b;
    --green700: #62563d;
    --green500: #857451;
    --green300: #a3957a;
    --green100: #c1b7a4;
    --green50:  #e0dad1;
  
    --blue900: #40616b;
    --blue700: #5f95a5;
    --blue500: #7fcce3;
    --blue300: #a2d9ea;
    --blue100: #c2e6f1;
    --blue50:  #e1f2f8;
  
    --orange900: #6d3d11;
    --orange700: #a75b0e;
    --orange500: #e57a00;
    --orange300: #f29b50;
    --orange100: #fbbc8a;
    --orange50:  #ffddc3;
  
    --purple900: #46144c;
    --purple700: #691272;
    --purple500: #8d039b;
    --purple300: #ad56b4;
    --purple100: #ca8fcd;
    --purple50:  #e6c7e6;
  
    --gray700: #454E54;
    --gray500: #888888;
    --gray300: #EEEEEE;
  }

  /* Fonts */

  * {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Fira Mono';
    src: url('/fonts/junkdog.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Karla';
    src: url('/fonts/KarlaSans-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'KarlaItalic';
    src: url('/fonts/Karla-Italic-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'JunkDog';
    src: url('/fonts/JunkDog.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Twinton';
    src: url('/fonts/Twinton.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html, body {
    margin: 0;
      padding: 0;
      font-size: calc(15px + 0.390625vw);
      color: var(--maroon500);
      background-color: var(--desert);
  }
  
  body {
      font-family:  'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: left; 
      line-height: 1.7;
    color: var(--maroon500);
    width: 100%;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: 0 0 0.5rem 0;
      line-height: 1.2;
    font-family: "Milleniapolis", 'Karla', sans-serif;
  }
  h1 {
      font-size: 3.052em;
  }
  h2 {
      font-size: 2.441em;
  }
  h3 {
      font-size: 1.953em;
  }
  h4 {
      font-size: 1.563em;
  }
  h5 {
      font-size: 1.25em;
  }
  strong,
  b {
      font-weight: 700;
  }
  a {
    color: var(rv--lilac5000p)d;
    padding: 0 0.25rem;
    background-image: linear-gradient(var(--color-link-bg) 0 0);
    background-size: 0;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: .4s;
}

a:hover, a:active, a:visited {
    color: hsl(293, 69%, 74%);
    background-size: 100%;
    text-decoration: underline;
}

  textarea {
      width: 100%;
      font-size: 16px;
  }
  input {
      font-size: 16px;
  }
  table {
      width: 100%;
  }
  img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
  }

  pre {
      padding: 1.5em;
      border-radius: 8px;
  }
  pre > code {
      all: unset;
  }
  blockquote {
      border-left: 4px solid var(--olive500);
      padding: 0 0 0 20px;
      margin: 0px;
      font-size: 1.333em;
  }
  hr {
      border: none;
      border-top: 1px solid var(--purple); /* TODO: sound waves for hr? */
  }

  .img-card {
    display: inline-block;
    background: var(--green300);
    border-radius: 6px;
    padding: 2px
  }
  .img-card img {
    border-radius: 6px;
  }
  .img-card p {
    color: var(--green50);
    margin: 0px;
    padding: 0px 2px 6px 2px;
    font-size: 75%;
    text-align: center;
  }

  article blockquote, .contact-me {
    display: block;
    margin: 2em;
    padding: 1em;
    border: 1px solid var(--maroon100);
    box-shadow: 2px 2px var(--maroon100), 3px 3px var(--desert);
  }

  .light-box {
    display: block;
    margin: 2em;
    padding: 1em;
    border: 1px solid var(--slate100);
    box-shadow: 2px 2px var(--slate100), 3px 3px var(--desert);
  }

  .button-primary {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ED760;
  height: 48px;
  }
  button-primary:hover{
    transform: scale(1.04);
    background-color: #21e065;
  }

  
  
  .button-primary:focus {
    outline: none;
  }
  
  .button-primary {
    background-image: linear-gradient(
      to right,
      rgba(255,237,222,1),
      rgba(241,181,155,1),
      rgba(219,125,106,1),
      rgba(171,76,77,1),
      rgba(118,63,37,1));
    box-shadow: 0 4px 15px 0 var(--lilac500);
  }

    /* grid container */
.left-sidebar-grid {
  grid-column: 1 / -1;
  display:grid;
  grid-template-areas:
      'main-content'
      'left-sidebar';
}

/* general column padding */
.left-sidebar-grid > * {
  padding:1rem;
}

/* assign columns to grid areas */

.left-sidebar-grid > .main-content {
  grid-area:main-content;
}
.left-sidebar-grid > .left-sidebar {
  grid-area:left-sidebar;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .left-sidebar-grid {
      grid-template-columns:3, 1fr;
      grid-template-areas:
          'left-sidebar main-content main-content';
  }
}
    
    @media screen and (min-width: 636px) {

      #wrapper #content {
        width: 90%;
        display: block;
      }

      #wrapper #sidebar {
        width: 90%;
        display: block;
      }


    }