root {
	--primary: hsl(267, 73%, 63%);
    --primary-dark: hsl(267, 73%, 53%);
    --primary700: hsl(267, 73%, 74%);
    --primary200:  \hsl(267, 73%, 84%);
	--secondary: hsl(52, 99%, 62%);
    --secondary-dark: hsl(52, 99%, 53%);
    --secondary700: hsl(52, 99%, 74%);
    --secondary200:  hsl(52, 99%, 84%);
    --tertiary: hsl(172, 98%, 48%);
    --tertiary-dark: hsl(172, 98%, 33%);
    --tertiary700: hsl(172, 98%, 64%);
    --tertiary200: hsl(172, 98%, 84%);
    --accent: hsl(324, 84%, 65%);
    --accent-light: hsl(324, 84%, 85%);
    --special-dark: hsl(324, 84%, 45%);
	--darkest: hsl(324, 61%, 22%);
    --lightest: hsl(326, 57%, 92%);
}


body {
	font-family: 'Poppy', sans-serif;
	margin: 0;
	padding: 18px 0;
	text-align: left;
	font-size: 20px;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--primary));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--secondary-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--primary700));
}
