:root {
	  --primary: hsl(267, 73%, 63%);
    --primary-dark: hsl(267, 73%, 53%);
    --primary-lighter: hsl(267, 73%, 74%);
    --primary-lighest: hsl(267, 73%, 84%);
	  --secondary: hsl(52, 99%, 62%);
    --secondary-dark: hsl(52, 99%, 53%);
    --secondary-lighter: hsl(52, 99%, 74%);
    --secondary-lighest: hsl(52, 99%, 84%);
    --tertiary: hsl(172, 98%, 48%);
    --tertiary-dark: hsl(172, 98%, 33%);
    --tertiary-lighter: hsl(172, 98%, 64%);
    --tertiary-lighest: hsl(172, 98%, 84%);
    --accent: hsl(324, 84%, 65%);
    --accent-light: hsl(324, 84%, 85%);
    --special-dark: hsl(324, 84%, 45%);
   	--darkest: hsl(324, 61%, 22%);
    --lightest: rgb(247, 235, 220, 1);
}

html {
    font-family: sans-serif;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0 auto;
	padding: 18px 0;
	text-align: left;
	font-size: 20px;
	line-height: 1.7;
    color: var(--darkest);
    width: 90%;
    max-width: 1280px;
    background-color: hsl(247, 235, 220, 1);
    background:
        radial-gradient(
          circle at 0% 0%,
          rgba(247, 235, 220, 1) 0%,
          rgba(2, 245, 212, 0.45) 0%,
          rgba(247, 235, 220, 0.58) 39%
        );
        background-repeat: no-repeat;
}

* {
    /* /box-sizing: border-box; */
  }

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--secondary-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--darkest);
}
  



  /* nav styles */

  .torta {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .torta .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }
  
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #ff9776;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .torta {
        display: none;
      }
  }