<html>
  <head>
    <title>404 | Blob</title>
  </head>

  <body>
    <section>
      <b>404</b>
      <p>
        It looks like there's just an amorphous blob here. Try starting from the <a
          href="/"></a>homepage and email me if you need something you can't
        find!
      </p>
    </section>
  </body>

  <style>
    html,
    body {
      margin: 0;
      padding: 0;
    }
    body {
      background: hsla(208, 33%, 21%, 1);

      background: linear-gradient(
        90deg,
        hsla(208, 33%, 21%, 1) 0%,
        hsla(211, 36%, 46%, 1) 100%
      );
      background: -moz-linear-gradient(
        90deg,
        hsla(208, 33%, 21%, 1) 0%,
        hsla(211, 36%, 46%, 1) 100%
      );
      background: -webkit-linear-gradient(
        90deg,
        hsla(208, 33%, 21%, 1) 0%,
        hsla(211, 36%, 46%, 1) 100%
      );
    }
    section {
      padding-top: 200px;
      margin: auto;
      max-width: 250px;
      color: #ddd;
      font-family: "Permanent Marker";
    }
    background-image: svg();
  </style>
</html>
