---
import BasicLayout from "../layouts/BasicLayout.astro";
import "../styles/desert.css";
---

<BasicLayout title="About Me" photo_number="6">
  <section class="left-sidebar-grid">
    <main class="main-content">
      <div id="page-title"><h2>About Me</h2></div>
      <p>
        I’m a Fullstack Developer with a strength in PHP and other backend
        tools. I’ve been programming all sorts of code since I was very young
        with my first Commodore 64, and that has translated into loving Laravel
        code and learning all kinds of new technology.
      </p><div class="img-card" style="float: right; margin-left: 12px;">
        <img src="/jungfrau-face.jpg" style="max-width: 250px;" />
        <p>Vacation in Jungfrau...</p>
      </div><p>
        These days I’ve been more focused on teaching, consulting, and helping
        businesses grow.
      </p><p>
        Off the computer, I live in Paris (though I’m from the US) with my wife
        and two cats. I love to write songs and play music with friends, and I
        love to travel and meet different kinds of people.
        <p></p>
        If you’re interested in working with me, I’d love to hear from you! You can
        see my full resume while you're here.
      </p>
    </main>
  </section>
  <section class="left-sidebar">
    Left sidebar
    <soft-skills>
      <h2>Soft Skills</h2>
    </soft-skills>

    <hard-skills>
      <h2>Hard Skills</h2>
    </hard-skills>
  </section>

  <style>
    resume-download {
      text-align: center;
      background: var(--beige300);
    }
  </style>
</BasicLayout>
