---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");

const title = "My Writings";
import BasicLayout from "../layouts/BasicLayout.astro";
import "../styles/desert.css";
---

<BasicLayout title="My Writings" slug="writings">
  <style is:global>
    .desert {
      background-image: url("/desert_2400_11.jpg");
    }
  </style>
  <div class="left-sidebar-grid">
    <main class="main-content">
      <div id="page-title"><h2>{title}</h2></div>
      

    </main>
    <section class="left-sidebar">
      <p>Here are a few thoughs about programming, life, and managing.</p>
    </section>
  </div>
</BasicLayout>