---
import BasicLayout from "../layouts/BasicLayout.astro";
import "../styles/desert.css";
---

<BasicLayout title="Credits" photo_number="8">
  <div class="left-sidebar-grid">
    <main class="main-content">
      <section class="left-sidebar">Left sidebar</section>
    </main>
  </div>
</BasicLayout>
