<html>
  <body>
    <wrapper>
      <div id="content">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
          felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
          consequat massa quis enim.
        </p>

        <p>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
          enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
          Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
        </p>

        <p>
          Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
          Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
          Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
          Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
          ullamcorper ultricies nisi.
        </p>

        <p>
          Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
          rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
          ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
          lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien
          ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci
          eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet
          nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum
          sodales, augue velit cursus nunc,
        </p>
      </div>
    </wrapper>
  </body>
  <style>
    body {
      text-align: center;
    }

    #content {
      padding: 12px;
      margin-top: 450px;
      background: #e9e9e9;
    }

    #content::before {
      content: "";
      display: block;
      width: 100%;
      height: 150px;
      background-color: #e9e9e9;
      transform: skew(0deg, -3deg);
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: left;
      z-index: 0;
      box-shadow: 0px -23px 18px 0px rgba(0, 0, 0, 0.39);
    }
    wrapper {
      background: url("/rainforest-tullius.jpg");
      background-repeat: no-repeat;
      display: inline-block;
      border: 2px solid #121212;
      max-width: 1280px;
      position: relative;
      margin: auto;
      text-align: left;
    }
  </style>
</html>
