---
const title = "Tools I Use";

import BasicLayout from "../layouts/BasicLayout.astro";
import "../styles/desert.css";
---

<BasicLayout title="Tools I Use" slug="uses">
  <style is:global>
    .desert {
      background-image: url("/desert_2400_3.jpg");
    }
  </style>
  <div class="left-sidebar-grid">
    <main class="main-content">
      <div id="page-title"><h2>{title}</h2></div>
      <h3 id="hardware">Hardware</h3>
      <ul>
        <li>Laptop: Macbook Air (13.6-inch, 2022, Apple M2 Chip, 24GB RAM)</li>
        <li>Various monitors if I need a larger screen</li>
        <li>
          Keyboard: <a href="https://www.dygma.com/raise/">Dygma Raise</a>
        </li>
        <li>Mouse: Logitech Wireless Mouse M320</li>
        <li>Wireless headphones: AirPods Pro, Sony WH-1000XM4</li>
      </ul>
      <h3 id="editor">Editor</h3>
      <ul>
        <li><strong>VS Code</strong> most of the time</li>
        <li>I use Noctis Lilac theme write now, but that changes often/</li>
        <li>Sublime Text and Vim for random edits</li>
      </ul>
      <h3 id="software">Software</h3>
      <ul>
        <li><a href="https://1password.com/">1Password</a></li>
        <li><a href="https://desktop.github.com/">Github</a></li>
        <li>
          <a href="https://www.raycast.com/">Raycast</a> - used with some extensions
          for VS Code and terminal
        </li>
        <li><a href="https://panic.com/transmit/">Transmit</a></li>
        <li><a href="https://tableplus.com/">TablePlus</a></li>
        <li>
          <a href="https://www.warp.dev/">Warp</a> - a fast terminal emulator I use
          with oh-my-zsh.
        </li>
        <li>
          <a href="https://www.pixelmator.com/pro/">Pixelmator Pro</a> - simple but
          powerful image editing
        </li>
        <li>
          <a href="https://trello.com/">Trello</a> - I use <a
            href="https://linear.app/">Linear</a
          > for large projects, but Trello is perfect for personal notes. <a
            href="https://www.craft.do/">Craft</a
          > is also looking nice to me for notes but I haven't switched.
        </li>
        <li>
          <a href="https://flexibits.com/fantastical">Fantastical</a> - my favorite
          calender app.
        </li>
        <li>
          <a href="https://sparkmailapp.com/">Spark</a> - good for organizing incoming
          email
        </li>
        <li>
          <a href="https://ulysses.app/">Ulysses</a> - for writing blog posts
        </li>
        <li>Various mind-mapping tools for ideas.</li>
      </ul>
    </main>
    <section class="left-sidebar">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.dev/svgjs"
        viewBox="0 0 800 800"
        ><defs
          ><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="cccoil-grad"
            ><stop stop-color="#b97954" stop-opacity="1" offset="0%"
            ></stop><stop stop-color="#daa46d" stop-opacity="1" offset="100%"
            ></stop></linearGradient
          ></defs
        ><g stroke="url(#cccoil-grad)" fill="none" stroke-linecap="round"
          ><circle
            r="363"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="1939 2281"
            transform="rotate(360, 400, 400)"
            opacity="1.00"></circle><circle
            r="346.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="1762 2177"
            transform="rotate(343, 400, 400)"
            opacity="0.95"></circle><circle
            r="330"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="1595 2073"
            transform="rotate(326, 400, 400)"
            opacity="0.91"></circle><circle
            r="313.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="1435 1970"
            transform="rotate(309, 400, 400)"
            opacity="0.86"></circle><circle
            r="297"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="1284 1866"
            transform="rotate(291, 400, 400)"
            opacity="0.82"></circle><circle
            r="280.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="1141 1762"
            transform="rotate(274, 400, 400)"
            opacity="0.77"></circle><circle
            r="264"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="1007 1659"
            transform="rotate(257, 400, 400)"
            opacity="0.73"></circle><circle
            r="247.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="881 1555"
            transform="rotate(240, 400, 400)"
            opacity="0.68"></circle><circle
            r="231"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="764 1451"
            transform="rotate(223, 400, 400)"
            opacity="0.64"></circle><circle
            r="214.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="655 1348"
            transform="rotate(206, 400, 400)"
            opacity="0.59"></circle><circle
            r="198"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="554 1244"
            transform="rotate(189, 400, 400)"
            opacity="0.55"></circle><circle
            r="181.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="462 1140"
            transform="rotate(171, 400, 400)"
            opacity="0.50"></circle><circle
            r="165"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="378 1037"
            transform="rotate(154, 400, 400)"
            opacity="0.46"></circle><circle
            r="148.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="302 933"
            transform="rotate(137, 400, 400)"
            opacity="0.41"></circle><circle
            r="132"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="235 829"
            transform="rotate(120, 400, 400)"
            opacity="0.37"></circle><circle
            r="115.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="176 726"
            transform="rotate(103, 400, 400)"
            opacity="0.32"></circle><circle
            r="99"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="126 622"
            transform="rotate(86, 400, 400)"
            opacity="0.28"></circle><circle
            r="82.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="84 518"
            transform="rotate(69, 400, 400)"
            opacity="0.23"></circle><circle
            r="66"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="50 415"
            transform="rotate(51, 400, 400)"
            opacity="0.19"></circle><circle
            r="49.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="25 311"
            transform="rotate(34, 400, 400)"
            opacity="0.14"></circle><circle
            r="33"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="8 207"
            transform="rotate(17, 400, 400)"
            opacity="0.10"></circle><circle
            r="16.5"
            cx="400"
            cy="400"
            stroke-width="7"
            stroke-dasharray="0 104"
            opacity="0.05"></circle></g
        ></svg
      >
      <h4>Away from Work</h4>
      <p>
        To keep myself balanced, I try to stay away from my laptop after work
        hours or on weekends, especially while I am traveling. I take an Ipad
        (2022 10.2in) during these times, so I can still read the news or play
        games. I take a Logitech K380 bluetooth keyboard for when writing
        inspiration hits; it's a lot easier than the keyboard on the screen and
        the keys feel nice and solid.
      </p>
    </section>
  </div>
</BasicLayout>
