---
import BasicLayout from "../layouts/BasicLayout.astro";
import "../styles/desert.css";
---

<BasicLayout title="Wheelchair" slug="wheelchair">
  <style is:global>
    .desert {
      background-image: url("/desert_2400_8.jpg");
    }
  </style>

  <section class="left-sidebar-grid">
    <main class="main-content">
      <div id="page-title"><h2>The Wheelchair Days</h2></div>
      <p>
        In early 2022, my hip started hurting, and I started to investigate it
        with doctor after doctor as it hurt more and more.
      </p>
      <p>
        One day, I stepped out of bed and just collapsed on the floor, unable to
        move without a cane. It turned out that I had a bone infection, and all
        the cartilage was gone.
      </p>
      <p>
        Now I was really in trouble. I had to get it operated on but the
        inspection had spread too far, and my newfound love of Friench wine and
        food wasn't helping. I stopped all alcohol and, stuck in a wheelchair,
        spending my time thinking instead - thinking about the next step.
      </p>
      <p>
        I studied go, Python, and Typescript. I reworked out how to handle
        hosting these days. I played music for an hour a day, studied French,
        and read books about what I realized I loved - organizing people from
        various backgrounds, with conflicting goals at times, to work together.
      </p>
      <p>
        So here we are! After a year in a wheelchair and my thoughts, I had a
        successful hip replacement and I'm ready to hit the world running.
        Please enjoy my stories and have a wonderful day!
      </p>
    </main>
    <section class="left-sidebar"></section>
    <h3>My Hospital Reading List</h3>
    <ul>
      <li>A Geographic History of Europe</li>
      <li>The War of Art</li>
      <li>The Hitchhiker's Guide to LEAN</li>
      <li>Radikal Candor</li>
      <li>Why We Sleep</li>
      <li>What We See: The Science of Seeing</li>
    </ul>
  </section>
</BasicLayout>
