<section>
  <p>
    &copy 2023-2024 Timothy Eaton. Written on astro. Read more about the design
    of this site!
  </p>
</section>

<style>
    section {
        width: 100%
        background: var(--darkest));
        color: var(--lightest));
        --shadow-color: hsl(220deg 60% 50%);
        filter: drop-shadow(
            8px 0 0 0 var(--primary)
        );
    }
</style>