<section>
  <p>
    &copy 2023-2024 Timothy Eaton. Written on astro. Read more about the design
    of this site!
  </p>
</section>

<style>
    section {
        background: #var(--darkest));
        color: #var(--lightest)); 
    }
</style>