<footer>
  <div class="copy">
    <p>
      Copyright @2023-2024 <a href="/about">Tim Eaton</a>
      | <a href="/credits">Credits</a>
      <br /><a href="/privacy">Privacy</a>
      | <a href="/terms">Terms and Conditions</a>
    </p>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    background: var(--lilac700);
    text-align; center;
    padding: 12px 0px;
    margin: 0;
    border-top: 5px double 6C544A;
    box-shadow: 0px -5px 10px 0px var(--lilac900);
}

  footer .copy {
    margin: 12px;
    font-family: "Twinton", monospace;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 0px;
    color:(--salmon300);
    }
  </style>