<section>
  <p>
    &copy 2023-2024 Timothy Eaton. Written on astro. Read more about the design
    of this site!
  </p>
</section>

<style>
    section {
        width: 100%;
        padding 24px;
        text-align: center;
        background: var(--darkest);
    }
    p {
        color: var(--primary-lightest);
        font-family: "Spline Sans Mono", monospace;
        text-align: center;
    }
</style>