---
import Torta from "./Torta.astro";
---

<header>
  <section>
    <div>
      <h1>TiMOTHY EATON</h1>
    </div>
    <Torta />
    <nav role="navigation" class="nav-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/resume">Resume</a>
      <a href="/blog">Blog</a>
      <div class="icon-6 w-icon-nav-menu"></div>
    </nav>
  </section>
</header>
<div class="custom-shape-divider-top-1713269180">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</div>
<style>
  .custom-shape-divider-top-1713269180 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1713269180 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
  }

  .custom-shape-divider-top-1713269180 .shape-fill {
    fill: #95a4b7;
  }
  header {
    background-color: var(--slate500);
    position: absolute;
    color: var(--moccasin300);
    height: 100px;
    flex: none !important;
    z-index: 11;
    width: 100%;
  }

  section {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 11;
  }

  div {
    flex: 1 0 auto;
    display: inline;
  }
  h1 {
    color: var(--orange100);
    letter-spacing: 2px;
    display: inline;
    font-family: "Twinton", monospace;
  }
  ul {
    margin: 0;
    list-style-type: none;
    float: right;
  }
  a {
    font-family: "Permanent Marker", monospace;
    display: inline-block;
    text-decoration: none;
    padding: 12px;
  }
  a:hover,
  a:active,
  selected {
    display: inline-block;
    padding: 4px px;
  }
</style>
