---
const { title, slug } = Astro.props;
---

<header>

  <logo-box>
    <h1>TiMOTHY EATON</h1>
    <p>OPERATIONS MANAGEMENT | FULL STACK</p>
  </logo-box>

  <navigation>
    <ul class="menu">
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/uses">Uses</a></li>
    </ul>
  </navigation>
  
</header>
<header-fade>
  <hr class="rainbow" style="margin-top:2px; margin-bottom: 5px; margin-left: 0; width: 100%;" />
  <hr class="rainbow" style="margin-top:2px; margin-bottom: 5px; margin-left: 0; height: 3px; width: 100%;" />
  <hr class="rainbow" style="margin-top:2px; margin-bottom: 5px; margin-left: 0; height: 1 px; width: 100%;" />
</header-fade>
<style>


  header {
    background-color: var(--slate500);
    color: var(--moccasin300);
    flex: none !important;
    width: 100%;
    height: 150px;
    display: block;
  }

  header p {
    padding: 0;
    margin-bottom: 0px;
    line-height: 0;
    margin-top: 0px;
    color: var(--mocassin700);
  }

  logo-box {
    display: block;
    padding: 10px 20px 0px 20px;
    text-decoration: none;
    white-space: nowrap;
    z-index: 9999;
  }

  h1 {
    color: var(--tan100);
    margin-bottom: 0px;
    margin-top: 12px;
    padding-bottom: 0px;
    letter-spacing: 3px;
    line-spacing: 0px;
    display: inline-block;
    font-family: "Twinton", monospace;
  }

  navigation {
    background: var(--slate700);
    display: block;
    justify-content: space-between;
    margin: 0;
    margin-top: 25px;
    
  }

  navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    justify-content: space-between;
  }
  .menu li {
    margin-right: 20px;
  }
  .menu li a:active,
  .menu li a:visited {
    color: var(--desert);
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
  }
  .menu li a:hover {
    color: var(--desert);
    background-color: (--lilac900)
    padding: 3px 10px;
  }

  bottom-gradient {
    clear: all;
    height: 70px;
    width: 100%;
    background: linear-gradient(
      to bottom,
      transparent 0% 10%,
      var(--slate500) 10% 20%,
      transparent 20% 35%,
      var(--slate500) 35% 50%,
      transparent 50% 55%
    );

    header-fade {
      width: 100px;
      color: var(--slate500);
      border-top: 8px;
      padding-top: 5px;
      border-buttom: 1 px solid var(--slate500);
      padding-bottom: 3px;
    }
</style>
