---
const { title, slug } = Astro.props;
---

<header>
  <section>
    <logo-box>
      <h1>TiMOTHY EATON</h1>
      <p>OPERATIONS MANAGEMENT | FULL STACK</p>
    </logo-box>
    <Navigation slug={slug} />
  </section>
</header>
<svg-top-divider class="custom-shape-divider-top-1713269180">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
  </svg>
</svg-top-divider>

<style>
  .custom-shape-divider-top-1713269180 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1713269180 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 51px;
  }

  .custom-shape-divider-top-1713269180 .shape-fill {
    fill: var(--slate500);
  }

  header {
    background-color: var(--slate500);
    color: var(--moccasin300);
    height: 120px;
    flex: none !important;
    z-index: 11;
    width: 100%;
    height: 130px;
    display: block;
  }

  header p {
    padding: 0;
    margin-top: -5px;
    color: var(--mocassin700);
  }

  1232section {
    width: 90%;
    justify-content: center;
    align-items: bottom;
    display: flex;
    flex-wrap: nowrap;
  }

  logo-box {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
  }

  div {
    flex: 1 0 auto;
    display: inline;
  }
  h1 {
    color: var(--tan100);
    margin-bottom: 0px;
    margin-top: 12px;
    padding-bottom: 0px;
    letter-spacing: 3px;
    display: inline;
    font-family: "Twinton", monospace;
  }
</style>
