<section id="hero">
  I love problems.
  <br />I love to look for them before they happen.
  <br />I love to work with diverse teams to fix them.
  <br />
  <a class="btn-primary" href="mailto:tim@timeaton.dev">Contact Me</a>
  <a href="/resume" class="btn-secondary">View Resume</a>
</section>

<style>
  section#hero {
    background: var(--lilac300);
    color: var(--beige500);
    font-size: 1.5em;
    padding: 24px;
  }
</style>
