<section id="hero">
  I love problems.
  <br />I love to look for them before they happen and jump in the to fix them
  if they do.
  <br />I love to work with diverse teams in new ways.
  <br />Do you need someone like that?
</section>

<section id="detail">
  <p>
    I've always been an autodidact, teaching myself to code, design, and write.
    This has led to multiple jobs in diverse areas, giving me the chance to
    study methodologies and learn how to put out fires and help plan product
    releases. Most of my work has been in coding and working to improve quality
    of life for staff and clients. I love to improve my own efficiency and apply
    that skill to my work to help fascilitate ideas and operations. Right now,
    I'm looking for a new challenge to help business teams work better together
    and with their clients. I'd love to find a new way to use those skills in an
    ethical, sustainable, and honest Non-profit or NGO.
    <strong>Let's build something together!</strong>
  </p>
</section>

<style>
  section#hero {
    background: var(--primary);
    color: var(--reading);
    font-size: 1.5em;
    padding: 12px;
    font-family: "Lato", sans-serif;
  }
</style>
