<h3>Today I learned....</h3>  

<p>
Birds are not real
  <span>6 Apr 2024</span>
</p>

<style>
  p {
    color: var(--seconday);
  }
  p span {
    color: var(--secondary-light);
    background: var(--secondary);
    font-family: "Poppy", san-serif
    font-size: 50%;
  }
</style>