---
import Navigation from "../components/TopNavigation.astro";
---

<div>
  <h1>Timothy Eaton</h1>
  <span>HE/HIM</span>
</div>
<div>
  <Navigation />
</div>

<style>
  h1 {
    color: var(--accent);
    font-family: "Workbench", monospace;
  }
</style>
