---
import Navigation from "../components/TopNavigation.astro";
---

<div>
  <h1>Timothy Eaton</h1>
  <p>He/Him</p>
</div>
<div>
  <Navigation />
</div>

<style>
  h1 {
    color: var(--accent);
    font-family: "Worbench", monospace;
  }
</style>
