<input type="checkbox" id="menu-toggle" class="menu-toggle" />
<label for="menu-toggle">&#9776;</label>
<section class="menu-wrapper">
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="uses">Uses</a></li>
    <li><a href="/credits">Credits</a></li>
  </ul>
</section>

<style>
  a {
    color: var(--desert);
  }

  /* header */

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
  }

  li a:hover,
  .menu-button:hover {
    color: var(--lilac300);
  }

  .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px 0px 20px;
    text-decoration: none;
  }

  /* menu */

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  /* menu icon */

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 5px 15px;
    position: relative;
    user-select: none;
  }

  /* menu btn */

  .menu-button {
    display: none;
  }

  .menu-button:checked ~ .menu {
    max-height: 240px;
  }

  .menu-button:checked ~ .menu-icon .torta-icon {
    background: var(--desert);
  }

  .menu-button:checked ~ .menu-icon .torta-icon:before {
    transform: rotate(-45deg);
  }

  .menu-button:checked ~ .menu-icon .torta-icon:after {
    transform: rotate(45deg);
  }

  .menu-button:checked ~ .menu-icon:not(.steps) .torta-icon:before,
  .menu-button:checked ~ .menu-icon:not(.steps) .torta-icon:after {
    top: 0;
  }

  /* 48em = 768px */

  @media (min-width: 850px) {
    li {
      float: left;
    }
    li a {
      padding: 10px 20px;
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
</style>
