<input class="menu-buttontn" type="checkbox" id="menu-button" />
<label class="menu-icon" for="menu-button">
  <span class="torta-icon"> </span>
</label>
<ul id="menu">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="uses">Uses</a></li>
  <li><a href="/resume">Resume</a></li>
  <li><a href="/blog">Blog</a></li>
</ul>

<style>
  a {
    color: var(--desert);
  }

  /* header */

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }

  li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }

  li a:hover,
  .menu-button:hover {
    background-color: #f4f4f4;
  }

  .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  /* menu */

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  /* menu icon */

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .menu-icon .torta-icon {
    background: var(--desert);
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .menu-icon .torta-icon:before,
  .menu-icon .torta-icon:after {
    background: var(--desert);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .menu-icon .torta-icon:before {
    top: 5px;
  }

  .menu-icon .torta-icon:after {
    top: -5px;
  }

  /* menu btn */

  .menu-button {
    display: none;
  }

  .menu-button:checked ~ .menu {
    max-height: 240px;
  }

  .menu-button:checked ~ .menu-icon .torta-icon {
    background: transparent;
  }

  .menu-button:checked ~ .menu-icon .torta-icon:before {
    transform: rotate(-45deg);
  }

  .menu-button:checked ~ .menu-icon .torta-icon:after {
    transform: rotate(45deg);
  }

  .menu-button:checked ~ .menu-icon:not(.steps) .torta-icon:before,
  .menu-button:checked ~ .menu-icon:not(.steps) .torta-icon:after {
    top: 0;
  }

  /* 48em = 768px */

  @media (min-width: 48em) {
    li {
      float: left;
    }
    li a {
      padding: 20px 30px;
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .menu-icon {
      display: none;
    }
  }
</style>
