<div class="torta" onclick="toggleMenu()">
  <span></span>
  <span></span>
  <span></span>
</div>
<ul id="navigation">
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="uses">Uses</a></li>
  <li><a href="/resume">Resume</a></li>
  <li><a href="/blog">Blog</a></li>
</ul>


<script>
    function toggleMenu() {
    var torta = document.querySelector('.torta');
    torta.classList.toggle('active');
  }
</script>

<style>
    nav {
    color: snow;
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    /* Make the markers disappear */
    list-style-type: none;
  }
  nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    margin: 0.3em 1em;
  }

  input[type="checkbox"]:not(:checked) + ul {
    display: none;
  }

  nav input[type="checkbox"],
  nav label {
    display: none;
  }

  @media (max-width: 576px) {
    nav label {
      text-align: right;
      display: block;
      padding: 0.5em;
      line-height: 1.6em;
      align-self: center;
    }
    nav {
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 0;
      margin-right: 0;
    }
    /* Because we are in mobile mode, we want to display it as a
       vertical list */
    nav ul {
      display: block;
    }
    /* We have two lists: the first one are the always visibile items
       in the menu bar. The second one is the one that will be hidden */
    nav ul li {
      margin-bottom: 0;
      width: 100%;
      text-align: right;
      padding: 0.5em;
    }

.torta span {
  display: block;
  width: 35px;
  height: 3px;
  margin: 6px auto;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.torta.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.torta.active span:nth-child(2) {
  opacity: 0;
}

.torta.active span:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 768px) {
  .torta {
    display: block;
  }
}

@media (min-width: 769px) {
  .torta {
    display: none;
  }
}

</style>