<p><img src="/avatar.png" alt="Rare photo of the real man" /></p>
<p><a href="#">yakbrother@typo@social</a></p>
<p><a href="https://twitter.com/@yakbrother">@yakbrother@typo@social</a></p>
<p><a href="https://www.github.com/yakbrother">yakbrother</a></p>

<style>
    img {
        border-radius: 50%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
     ]
</style>