<today-i-learned>
    <h3>Today I Learned...</h3>
    <p>
        <a href="https://www.weather.gov/wrn/hurricane_hunterd">Special airplanes</a>
            are used by used by the National Weather Service to fly into the "calm eye" of hurricanes with less than 48 hours of targeting one.
.            <span>6 Apr 2024</span>
    </p>
</today-i-learned>

<style>
    today-i-learned {
        font-color var(--desert)
    }
    today-i-learned span {
        background: var(--slate700);
    }

</style>