---

---

<section>
  <div>
    <h1>Timothy Eaton</h1>
  </div>
  <nav role="navigation">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <a href="/til">TIL</a>
    <a href="/blog">Blog</a>
    <div class="icon-6 w-icon-nav-menu"></div>
  </nav>
</section>

<style>
  section {
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  div {
    flex: 1 0 auto;
    display: inline;
  }
  h1 {
    color: var(--beige700);
    display: inline;
    font-family: "Inknut Antiqua", monospace;
  }
  ul {
    margin: 0;
    list-style-type: none;
    float: right;
  }
  a {
    display: inline-block;
    border-bottom: 2px solid white;
    text-decoration: none;
    padding: 4px px;
  }
  a:hover,
  a:active,
  selected {
    display: inline-block;
    border-bottum: 2px solid white;
    padding: 4px px;
  }
</style>
