<section>&nbps;</section>

<style>
    height: 12px;
    width: 100%;
  border-top: 3px solid var(--tertiary)
    background: repeating-linear-gradient(
      to right,
      var(--darkest),
      var(--darkest) 10px,
      var(--darkest) 10px,
      var(--darkest) 20px
    );
</style>
