<section></section>

<style>
  section {
    height: 12px;
    width: 100%;
    border-top: 3px solid var(--tertiary);
    background: repeating-linear-gradient(
      to right,
      var(--lightest),
      var(--lightest) 10px,
      var(--darkest) 15px,
      var(--darkest) 20px
    );
  }
</style>
