<WheelchairBlock>

    <section class="wheelchair">
        <strong>Early 2024</strong>Many of the perspective in this older posts have changed based on a
        two-year long hospital ordeal and reshaping my career based upon my real strengths. <a href=/wheelchair>Here's the story</a>,
        and view any of my newer posts for my newer thoughts and inspiration.
        </section

</WheelchairBlock>