---
import Meta from "../components/Meta.astro";
import Hero from "../components/Hero.astro";
import Social from "../components/Social.astro";
import Footer from "../components/Footer.astro";
import WeirdStripes from "../components/WeirdStripes.astro";
import IndexColumnOne from "../components/IndexColumnOne.astro";
import IndexColumnTwo from "../components/IndexColumnTwo.astro";
import IndexColumnThree from "../components/IndexColumnThree.astro";
import Top from "../components/Top.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta />
  </head>

  <body>
    <header>
      <Top />
    </header>
    <container>
      <div class="div1"><WeirdStripes /></div>
      <div class="div2"><Social /></div>
      <div class="div3">
        <Hero />
      </div>
      <div class="div4"><IndexColumnOne /></div>
      <div class="div5"><IndexColumnTwo /></div>
      <div class="div6"><IndexColumnThree /></div>
    </container>
    <Footer />
    <style>
      container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        width: 90%;
        max-width: 1280px;
        maring: 0 auto;
      }
      header {
        width: 90%;
        maring: 0 auto;
        max-width: 1280px;
      }
      footer {
        widht: 100%;
      }
      .div1 {
        grid-area: 1 / 1 / 2 / 5;
      }
      .div2 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div3 {
        grid-area: 2 / 2 / 4 / 5;
      }
      .div4 {
        grid-area: 4 / 2 / 5 / 3;
      }
      .div5 {
        grid-area: 4 / 3 / 5 / 4;
      }
      .div6 {
        grid-area: 4 / 4 / 5 / 5;
      }
    </style>
  </body>
</html>
