---
import BasicLayout from "./BasicLayout.astro";
---

<BasicLayout title="Home" slug="home">
  <style is:global>
    .desert {
      background-image: url("/desert_2400_1.jpg");
    }
  </style>


<article>
  <div id="big-hero">
    <h2 style="color: #C03F1B;">I love problems, in technology and in businesses.</h2>
    <h3 style="color: #E2542C;">I love to find them and anticipate them.</h3>
    <h3 style="color: #E2542C;">I love to work with diverse teams to fix them.</h3>
    <p>Interested? <a href="mailto:tim@timeaton.dev">Let's talk</a></p>
  </div>
d="page-title"><h2>About Me</h2></div>
      <p>
        I worked for many year as Fullstack Developer with a strength in PHP and
       

  <style>
    div#big-hero {
      color: #E2542C important!;
      width: 100%;
      padding-top: 200px;
      padding-bottom:24px;
      text-align: center;
    }
    div#big-hero h2,
    div#big-hero h1,
    div#big-hero p,
      color: #E2542C important!;
      text-align: center;
    }
  </style>


  
  
  <section class="left-sidebar-grid">
    <main class="main-content">
    </main>
  


    <section class="left-sidebar">
    </section>
</section>
</BasicLayout>