---
import BasicLayout from "./BasicLayout.astro";
import "../styles/desert.css";
const { frontmatter } = Astro.props;

<h1>{frontmatter.title}</h1>
<p>Written by {frontmatter.author}</p>
<slot />
---

<BasicLayout>
  <article>
    <h1>From The Blog</h1>

    <back-to-blog>
      <a href="/blog" class="button button-primary"> Back to blog </a>
    </back-to-blog>

    <style>
      h1 {
        size: 50%;
        text-transform: capitalize;
      }
      <h2 > article {
        width: 90%;
        margin: auto;
      }

      @media screen and (min-width: 636px) {
        article {
          min-width: 90%;
          padding: 12px;
          background: var(--sienna100);
          border-radius: 12px;
          margin: auto;
        }
      }

      @media screen and (min-width: 800px) {
        article {
          max-width: 1240;
          margin: 24 auto;
          padding: 12px;
          background: var(--sienna100);
          border-radius: 12px;
        }
      }
    </style>
  </article>
</BasicLayout>
